body {
  background-color: #EFEEEE;
}

li {
  cursor: pointer;
  cursor: hand;
  text-align: center;
}

.collapse {
  margin-bottom: 20px;
}

.navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 13px;
    background-color: #F7F7F7;
}

.pagination > li > span {
  position: relative;
  padding: 6px 12px;
  margin-left: -1px;
  text-decoration: none;
  background-color: #F7f7f7;
  border: none;
}

.navbar-fixed-top {
  position: relative;
}

.container {
  position: relative;
}

.page-label > p {
  font-weight: bolder;
}
