<nav class="navbar-fixed-top " role="navigation">
  <section class="container">
    <div class="navbar-header">
      <span class="glyphicon glyphicon-align-justify navbar-toggle" data-toggle="collapse" data-target="#nav-collapse"></span>
      <a class="navbar-brand">
        <img role="img" class="js-svg" src="http://static.bbci.co.uk/tviplayer/1.102.0/img/navigation/iplayer_pink.svg" alt="BBC iPlayer" data-fallback="http://static.bbci.co.uk/tviplayer/1.102.0/img/navigation/iplayer_pink.png" height="36" width="111">
      </a>
    </div>
    <div class="collapse navbar-collapse" id="nav-collapse">
      <ul class="navbar-nav nav" ng-repeat="label in main.pageLabels">
        <li class="page-label" ng-click="main.getPage(label, 1)">
          <a id="{{label}}" ng-bind="label"></a>
        </li>
      </ul>
    </div>
  </section>

  <section class="container" ng-show="main.showPages()">
    <ul class="pagination" ng-repeat="page in main.pages">
      <li class="btn" ng-click="main.getPage(main.currentLetter, page)">
        <a  ng-bind="page"></a>
      </li>
    </ul>
  </section>
</nav>

<section class="container">
  <div class="row" >
    <div class="col-lg-3 col-md-4 col-xs-6" ng-repeat="item in main.items">
      <a class="thumbnail">
        <img class="programme-img" src="{{main.getUrl(item.images.standard,'192x108')}}"></img>
        <h4 ng-bind="item.title"></h4>
        <p ng-bind="item.initial_children[0].versions[0].availability.remaining.text"></p>
        <p ng-bind="item.synopses.small"></p>
      </a>
    </div>
  </div>
</section>

<section class="container pagination-centered" ng-show="main.showPages()">
  <ul class="pagination" ng-repeat="page in main.pages">
    <li class="btn" ng-click="main.getPage(main.currentLetter, page)">
      <a  ng-bind="page"></a>
    </li>
  </ul>
</section>
